# General
.DS_Store
.idea/
.vscode/
*.iml
*.log

# Java / Maven
**/target/


# Gradle (por si se agrega)
**/.gradle/

# Flutter / Dart
**/.dart_tool/
**/.packages
**/build/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.pub-cache/

# Env files / secrets
.env
.env.*
**/*.keystore
**/google-services.json
**/GoogleService-Info.plist

# Node (si se usa openapi-generator via npm)
**/node_modules/

# Local tools (do not commit)
/tools/
